APP_ENV=development
DATA_ENV=development
FIREBASE_PROJECT_ID=vehicle-management-64
FIREBASE_AUTH_EMULATOR=true
FIREBASE_WEB_API_KEY=
CORS_ORIGIN=http://localhost:5173

B2_ENDPOINT=https://s3.us-west-004.backblazeb2.com
B2_REGION=us-west-004
B2_BUCKET=vehicle-management-64-dev

B2_KEY_ID=
B2_APPLICATION_KEY=
